html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(62, 105, 139, 0.562) 0%, rgba(0, 0, 0, 0.1) 100%), url("./images/chicago.jpg");
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#results {
    display: flex;
    width: 100vw;
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

#round-result {
    flex: 1;
}

#player-score, #cpu-score {
    flex: 1;
}

#player-score .score-header {
    color: blue;
}


#cpu-score .score-header {
    color: green;
}

.choices {                  
    display: flex;
    width: 100vw;
    flex: 1;
}

.choice {
    flex: 1;
}

#footer {
    text-align: center;
    margin: 6px;
}

#footer a {
    color: white;
}

.win {
    color: yellow;
    text-shadow: rgb(255, 255, 0) 4px 4px 20px;
}
