html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(62, 105, 139, 0.562) 0%, rgba(0, 0, 0, 0.1) 100%), url("./images/chicago.jpg");
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 5px;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#results {
    display: flex;
    width: 100vw;
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

#round-result {
    flex: 1;
}

#player-score, #cpu-score {
    flex: 1;
}

.choices {                  
    display: flex;
    width: 100vw;
    flex: 1;
}

.choice {
    flex: 1;
    margin: 0 1%;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 20px;
    font-size: 1.5em;
    box-shadow: black 0 0 20px;
    background: linear-gradient(to bottom, rgb(96,109,126), rgb(62,65,74) 50%,rgb(18,19,24),rgb(21,21,31) 95%, rgb(61,75,114));
}

#footer {
    text-align: center;
    margin: 6px;
}

#footer a {
    color: white;
}

.game-win {
    color: yellow;
    text-shadow: rgb(255, 255, 0) 4px 4px 20px;
}
