html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#results {
    display: flex;
    width: 100vw;
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

#round-result {
    flex: 1;
}

#player-score, #cpu-score {
    flex: 1;
}

#player-score .score-header {
    color: blue;
}


#cpu-score .score-header {
    color: green;
}

.choices {                  
    display: flex;
    width: 100vw;
    flex: 1;
}

.choice {
    flex: 1;
    margin: 1%;
}
